<h2>Rokkuto</h2>

<h3>About Rokkuto</h3>

<p>Rokkuto is an authorization application. It can be used for giving access rights to a not registered user.</p>
<p>It's similar to google drive or dropbox sharing feature.</p>

<p>Check out our <%= link_to 'docs', documentation_path %> to find out more on how to use Rokkuto.</p>