<h2>Dear <%= @user.email %>,</h2>

<h3>you've been served with new item.</h3>

<h3>Find it at the following link: <%= link_to 'See me!!!', @link %></h3>


<p>Best regards,</p>
<p>Your <b>rokkuto</b> team.</p>